*{
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
	background: #ffffff;
}
.special{
	background: #F10215;
}
.provice .special a{
	color: #FFFFFF;
}
.clear{
	clear: both;
}

/*header begin*/
.header-div{
	min-width: 1200px;
	height: 30px;
	background: #E3E4E5;
	font-size: 12px;
}

/*header-left*/
.header-div-left{
	position: relative;
	float: left;
	left: 320px;
	width: 100px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	border-top: 1px solid #B5B5B5;
    z-index: 10;
}
.active{
	color: #f10215;
}
.left-div{
	width: 320px;
	height: 285px;
	border: 1px solid #B5B5B5;
	background: #FFFFFF;
	border-top: none;
    display: none;
}
.header-div-left:hover .left-div{
	display: block;
}
.header-div-left:hover{
	background: #fff;
}

/*left-div1*/
.left-div1{
	width: 320px;
	height: 215px;
}
.left-div1 li{
	width: 60px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.provice a{
	color: #b5b5b5;
}
.provice li:hover{
	background: #F10215;	
}
.provice li:hover a{
	color: #FFFFFF;
}

/*left-div2*/
.left-div2 .regions{
	width: 320px;
	height: 80px;
}
.left-div2 .regions li{
	width: 100px;
	text-align: center;
	float: left;
}
.left-div2 .regions li a{
	color: #b5b5b5;
}
.left-div2 .regions li a:hover{
	color: #F10215;
}

/*header-right*/
.header-div-right{
	float: left;
	position: relative;
	left: 40%;
	text-align: center;
	width: 731px;
	height: 30px;
}
.right-ul li{
	float: left;
	height: 30px;
	line-height: 30px;
}
.right-ul .item{
	width: 82px;
}
.spacer{
	width: 1px;
	height: 30px;
}
.item a{
	color: #000000;
}
.item a:hover{
	color: #F10215;
}

/*right-div1*/
.div1-ul{
	width: 167px;
	height: 90px;
	border: 1px solid #B5B5B5;
	background: #FFFFFF;
	border-top: none;
	display: none;
	z-index: 999;
	position: relative;
}
.pointer1:hover .div1-ul{
	display: block;
}
.div1-ul li{
	width: 82px;
	height: 30px;
	line-height: 30px;
	text-align: initial;
}
.div1-ul li a{
	color: #B5B5B5;
}

/*right-div2*/
.div2-ul{
	width: 167px;
	height: 90px;
	border: 1px solid #B5B5B5;
	background: #FFFFFF;
	border-top: none;
	display: none;
	position: relative;
	z-index: 999;
}
.pointer2:hover .div2-ul{
	display: block;
}
.div2-ul li{
	width: 82px;
	height: 30px;
	line-height: 30px;
	text-align: initial;
}
.div2-ul li a{
	color: #B5B5B5;
}

/*right-div3*/
.div3-ul{
	width: 450px;
	height: 200px;
	border: 1px solid #B5B5B5;
	background: #FFFFFF;
	border-top: none;
	display: none;	
	position: relative;
	right: 365px;
	z-index: 999;
}
.div3-ul li{
	padding-top: 5px;
	width: 220px;
	height: 200px;
}
.pointer3:hover .div3-ul{
	display: block;
}
.div3-ul img{
	width: 120px;
	height: 120px;
}
/*header end*/

/*banner begin*/
.banner{
	height: 205px;
	background: #FFFFFF;
}
.banner-div{
	width: 1200px;
	height: 205px;	
	margin: 0 auto;
	position: relative;
}
.banner-img{
	position: absolute;
	left: 100px;
	bottom: 0px;
	width: 1000px;
	height: 75px;
}

/*banner-left*/
.banner-logo{
	float: left;
	padding-left: 30px;
	order: 1;
}
.banner-logo img{
	width: 250px;
	height: 140px;
}

/*banner-middle*/
.banner-middle{
	width: 750px;
	height: 205px;
	margin-left: 300px;
	order: 2;
	position: relative;
}

/*middle-search*/
.banner-search{
	width: 750px;
	height: 70px;
}
.input-text{
	padding-left: 20px;
	width: 540px;
	height: 34px;
	border: 3px solid #F10215;
	margin: 20px 10px;
	color: #B5B5B5;
}
.input-sub1{
	width: 50px;
	height: 38px;
	position: relative;
	right: 65px;
	top: 14px;
	background: url(../img/index/head_sprite.png) 0 -348px no-repeat;
	color: #FFFFFF;
	border: 1px solid #F10215;
	cursor: pointer;
}
.input-sub2{
	width: 100px;
	height: 39px;
	border: 2px solid #F8F8F8;
	position: relative;
	right: 35px;
	top: 1px;
	color: #F10215;
	background: #FFFFFF;
	cursor: pointer;
}
.input-sub2:hover{
	border: 2px solid #F10215;
}
/*middle-ul*/
.banner-ul{
	width: 750px;
	height: 40px;
	font-size: 12px;
}
.banner-ul li{
	width: 80px;
	height: 40px;
	line-height: 40px;
	float: left;
}
.banner-first-li{
	font-size: 15px;
	color: #F10215;
}
.banner-ul li a{
	width: 80px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #B5B5B5;
}
.banner-ul li a:hover{
	color: #F10215;
}
/*banner end*/

/* slideshow begin*/
#slideshow {
	position:relative;
	width:1000px;
	height:335px;
	background:#fff;
	margin:10px auto;
}
#slideshow .slideshow-list {
	position:relative;
	width:750px;
	height:335px;
	overflow:hidden;
}
#slideshow .slideshow-list ul {
	position:absolute;
	top:0;
	left:0;
}
#slideshow .slideshow-list li {
	width:750px;
	height:335px;
	overflow:hidden;
}
#slideshow .count {
	position:absolute;
	right:250px;
	bottom:5px;
}
#slideshow .count li {
	color:#fff;
	float:left;
	width:20px;
	height:20px;
	text-align: center;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden;
	background:#F90;
	opacity:0.7;
	filter:alpha(opacity=70);
	border-radius:20px;
}
#slideshow .count li.current {
	color:#fff;
	opacity:1;
	filter:alpha(opacity=100);
	font-weight:700;
	background:#f60;
}
.advertising{
	float: right;
	width: 250px;
	height: 335px;
	position: absolute;
	top:0;
	right: 0;
}

/*footer*/
/* footer-pic */
.footer{
	margin-top: 40px;
	background-color: #E3E4E5;
}
.footer-pic{
	width: 940px;
	height: 79px;
	margin: 0 auto;
}
.footer-pic-inner{
	width: 940px;
	height: 79px;
}
.footer-pic .footer-pic-inner a{
	width: 235px;
	height: 79px;
	line-height: 79px;
	color: #F10215;
	margin-left: 83px;
	text-align: center;
}

/* footer-div */
.footer-div{
	height: 90px;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.footer-div a{
	width: 100px;
	height: 30px;
	padding-left:10px;
	padding-right: 10PX;
	line-height: 30px;	
	color: #666666;
}
.footer-div a:hover{
	color: #f10215;
}

.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 999;
	display: none;
}
.modal .container{
	background-color: #f8f5f9;
	width: 404px;
	height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	box-sizing: border-box;
	padding: 1em;
	border-radius: 10%;
}
.modal .container .close{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #F10215;
	color: white;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: -15px;
	right: -15px;
	border: solid 2px #FFFFFF;
	cursor: pointer;
}